@inject IConfiguration Configuration
@{
    var forwarderBaseUrl = Configuration["ForwarderBaseUrl"] ?? string.Empty;
    var currentPage = ViewContext.RouteData.Values["Page"]?.ToString();
}
<!DOCTYPE html>
<html lang="en" data-forwarder-base-url="@forwarderBaseUrl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Elf Admin</title>
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" asp-append-version="true" />
    <link href="~/lib/bootstrap-icons/bootstrap-icons.min.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @await RenderSectionAsync("head", required: false)
</head>
<body class="bg-gray-1">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Elf Admin</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <div class="row">
            <aside class="col-auto">
                <nav class="aside-nav">
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <a class="nav-link @(currentPage is "/Index" ? "active" : null)" asp-page="./Index">Links</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(currentPage is "/Tags" ? "active" : null)" asp-page="./Tags">Tags</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(currentPage is "/Report" ? "active" : null)" asp-page="./Report">Report</a>
                        </li>
                    </ul>
                </nav>
            </aside>

            <main role="main" class="col">
                @RenderBody()
            </main>
        </div>
    </div>

    <partial name="_Toast" />

    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/main.mjs" type="module" asp-append-version="true"></script>

    @await RenderSectionAsync("scripts", required: false)
</body>
</html>