@model IEnumerable<Link>

<a asp-action="CreateLink" class="btn btn-outline-success mb-3">Create Link</a>

<!-- TODO: Use DataTable.net server side paging -->

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Token</th>
            <th>Origin Url</th>
            <th>Enabled</th>
            <th>Note</th>
            <th>Update Time</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr data-row-id="@item.Id">
                <td>
                    @item.FwToken
                </td>
                <td>
                    <a href="@item.OriginUrl" target="_blank">@item.OriginUrl</a>
                </td>
                <td>
                    @item.IsEnabled
                </td>
                <td>
                    @item.Note
                </td>
                <td data-utc-time="@item.UpdateTimeUtc"></td>
                <td>
                    <!-- todo: edit/delete-->
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script src="https://ui.cdn.aiursoft.com/node_modules/jquery-utc-time/dist/jquery-utc-time.min.js"></script>
    <script>
        // init jquery-utc-time
        $(this).initUTCTime({
            daysAgo: ' days ago',
            hoursAgo: ' hours ago',
            minutesAgo: ' minutes ago',
            secondsAgo: ' seconds ago'
        });
    </script>
}
