@using Elf.Web
@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet _javaScriptSnippet
@{
    string currentPage = ViewContext.RouteData.Values["Page"]?.ToString();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Elf</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <environment exclude="Production">
        <link href="~/css/site.css" rel="stylesheet" />
    </environment>
    <environment include="Production">
        <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/dataTables.min.js"></script>
    <environment include="Production">
        @Html.Raw(_javaScriptSnippet.FullScript)
    </environment>
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-moonglade-blue">
            <span class="navbar-brand">
                <img src="~/images/logo.svg" height="24" width="24" />
                Elf
            </span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav">
                    <li class="nav-item @(string.Compare("/Admin", currentPage, StringComparison.OrdinalIgnoreCase) == 0 ? "active" : null)">
                        <a class="nav-link" asp-page="/Admin">Manage Links</a>
                    </li>
                    <li class="nav-item @(string.Compare("/Report", currentPage, StringComparison.OrdinalIgnoreCase) == 0 ? "active" : null)">
                        <a class="nav-link" asp-page="/Report">Reports</a>
                    </li>
                </ul>
            </div>
            <div class="float-right">
                <span class="small text-light mr-2"><userinfo user="User"></userinfo></span>
                <a asp-controller="Admin" asp-action="SignOut" class="btn btn-sm btn-danger">
                    Sign Out
                </a>
            </div>
        </nav>
    </header>
    <div class="container-fluid mb-5">
        @RenderBody()
    </div>

    <footer class="border-top footer text-muted bg-light">
        <div class="small container-fluid">
            <a href="https://github.com/EdiWang/Elf" target="_blank">Elf</a> Version @Utils.AppVersion, .NET @Environment.Version
        </div>
    </footer>

    <div class="toast-container position-fixed p-5 bottom-0 start-50 translate-middle-x" id="toastPlacement" style="z-index: 996">
        <div id="liveToast" class="toast hide align-items-center text-white border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body" id="blogtoast-message">

                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <environment exclude="Production">
        <script src="~/js/site.js"></script>
    </environment>
    <environment include="Production">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @await RenderSectionAsync("scripts", required: false)
</body>
</html>
